<div class="sidenav" [ngClass]="collapsed?'sidenav-collapsed':''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="logo-text" *ngIf="collapsed">Nurture</div>
        <button class="btn-close" *ngIf="collapsed" (click)="toggleCollapse()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let item of navItems">
            <a class="sidenav-nav-link" [routerLink]="[item.route]">
                <i class="sidenav-link-icon" [ngClass]="[item.icon]"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{item.label}}</span>
            </a>
        </li>
    </ul>
</div>